@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans|Bowlby+One+SC|Days+One&display=swap");
body {
  font-family: "Days One", sans-serif;
  font-size: 100%;
  margin: 2.5%;
  overflow: hidden;
  border: 3px solid #44ddff;
  padding: 0 2em 1em;
  background: #24262d;

  color: #eeeeee !important;
  border-radius: 25px;
}
h1 {
  align-self: center;
  text-align: center;
  font-size: 3.5rem;
  color: #44ddff;
  text-shadow: #556 0.25rem 0.25rem;
  margin-bottom: 0.5em;
  border-bottom: 0.25rem #44ddff solid;
}
h2{
  margin: 0;
}
label {
  font-size: 2rem;
  text-shadow: #556 0.25rem 0.25rem;
}
input {
  width: 60%;
  float: right;
  font-family: "Days One", sans-serif;
  margin-right: 1em;
  margin-bottom: 1em;
}
input[type="button"] {
  font-family: "Days One", sans-serif;
  background: #343a40;
  border: #44ddff 0.125rem solid;
  color: #44ddff;
  margin: 1rem;
  text-shadow: #556 0.15rem 0.15rem;
  font-size: 1.25rem;
  width: 40%;
  padding: 0.5rem;
}
input[type="button"]:hover {
  color: #eeeeee;
  border-color: #eeeeee;
}
#tasks {
  float: right;
  clear: both;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 2rem;
  background: #24262d;

  text-shadow: #556 0.25rem 0.25rem;
}
#name {
  font-size: 2.5rem;
  text-shadow: #556 0.25rem 0.25rem;
  margin-top:0;
}
aside {
  max-width: 25%;
  border-right: #44ddff solid 0.25rem;
  background: #24262d;
}

textarea {
  color: #eeeeee;
  background: #24262d;
  width: 100em;
}
section {
  display: inline-block;
  max-width: 100%;
  overflow: no-content;
}
#task {
  font-size: 150%;
}
main{
  clear: both;
  display: block;
  padding: 0.5rem 0.25rem 1rem 0.5rem;
  background: #24262d;
}